.loader {
  display: none;
}

.jumbotron {
  text-align: center;
}

body {
  background-color: #80bfa8;
  font-family: 'Open Sans', sans-serif;
}

.bold {
  font-weight: bold;
}

.btn {
  margin-top: 10px;
  background-color: #eee;
}
